body {
    font-family: 'FreeSans', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Nimbus Sans L', Arial;
    text-shadow: none;
}

#home{
	background-color:#506EA2;
}

#signup{
	background-color:#506EA2;
}

#login{
	background-color:#506EA2;
}

#matches{
	background-color:#506EA2;
}

#profile{
	background-color:#506EA2;
}

#requests{
	background-color:#506EA2;
}

#approved{
	background-color:#506EA2;
}

#rainbowTitle{
	transform: rotate(270deg);
	position:fixed;

}



/* -----
SVG Icon Matches
----- */

.svg-icon {
  width: 4em;
  height: 4em;
    position: center;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FFFFFF;
}

.svg-icon circle {
  stroke: 	#FFFFFF;
  stroke-width: 1;
    }

/* -----
SVG Icons Profile
----- */

.svg-icon-prof {
  width: 4em;
  height: 4em;
}

.svg-icon-prof path,
.svg-icon-prof polygon,
.svg-icon-prof rect {
  fill: #FFFFFF;
}

.svg-icon-prof circle {
  stroke: #FFFFFF;
  stroke-width: 1;
}

/* -----
SVG Icons Requests and Approvals
----- */

.svg-icon-req {
  width: 4em;
  height: 4em;
}

.svg-icon-req path,
.svg-icon-req polygon,
.svg-icon-req rect {
  fill: #FFFFFF;
}

.svg-icon-req circle {
  stroke: #FFFFFF;
  stroke-width: 1;
}