* {
    text-shadow: none !important;

}


body {
    font-family: 'FreeSans', 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Nimbus Sans L', Arial;
    color: #eee !important;
}

p, label, i, b {
    color: #eee !important;
}

.bluepage{
	background-color:#506EA2;
}

#rainbowTitle{
	position:fixed;
    left: 3;
    bottom: 3px;
}

#rainbowTitle img {
    height: 200px;
}

.ui-header {
    text-align: center;
}

[data-role=page] {
    padding: 2%;
    width: 96% !important;
}

.ui-header {
    background-color: #506EA2 !important;
    border-bottom: 1px solid #eee;
    border-top: none;
}

.ui-header .ui-btn {
    background-color: transparent;
    color: #eee !important;
    border: none;
}

.ui-header .ui-btn span{
    font-size: 20px;
}

.ui-header .ui-btn:hover {
    color: #333;
}


.ui-body-c, .ui-overlay-c { text-shadow:0 0 0; }

/* -----
SVG Icon Matches
----- */

.svg-icon {
  width: 4em;
  height: 4em;
    position: center;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #FFFFFF;
}

.svg-icon circle {
  stroke: 	#FFFFFF;
  stroke-width: 1;
    }

/* -----
SVG Icons Profile
----- */

.svg-icon-prof {
  width: 4em;
  height: 4em;
}

.svg-icon-prof path,
.svg-icon-prof polygon,
.svg-icon-prof rect {
  fill: #FFFFFF;
}

.svg-icon-prof circle {
  stroke: #FFFFFF;
  stroke-width: 1;
}

/* -----
SVG Icons Requests and Approvals
----- */

.svg-icon-req {
  width: 4em;
  height: 4em;
}

.svg-icon-req path,
.svg-icon-req polygon,
.svg-icon-req rect {
  fill: #FFFFFF;
}

.svg-icon-req circle {
  stroke: #FFFFFF;
  stroke-width: 1;
}