#home{
	background-color:#506EA2;
}

#signup{
	background-color:#506EA2;
}

#login{
	background-color:#506EA2;
}

#matches{
	background-color:#506EA2;
}

#profile{
	background-color:#506EA2;
}

#requests{
	background-color:#506EA2;
}

#approved{
	background-color:#506EA2;
}