<div data-role="header" data-position="fixed">
    <a href="#login" class="ui-btn ui-corner-all ">Back</a> 
    <p class="headtitle">rainbow match - sign up</p>
</div>
<div data-role="main">
    <form>
        <label for="singupusernameinput">Username</label>
        <input type="text" name="singupusername" ng-model="$ctrl.user.userName" id="singupusernameinput"/>
        <label for="singuppasswordinput">Password</label>
        <input type="password" name="singuppassword" ng-model="$ctrl.user.userPassword" id="singuppasswordinput"/>  
        <label for="singuprepeatpasswordinput">Repeate Password</label>
        <input type="password" ng-model="$ctrl.userRepassword" ng-change="$ctrl.repassword()" name="singuprepeatpassword" id="singuprepeatpasswordinput"/>  
        <input type="button" ng-click="$ctrl.signup()" data-inline="true" value="Sign up"/> 

    </form>
</div>