<h2>Login</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" ng-model="$ctrl.loginUserName" placeholder="User Name">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">User Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" ng-model="$ctrl.loginUserPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="$ctrl.loginUser()">Login</button>
    </div>
  </div>
</form>
