<!DOCTYPE html>
<html ng-app="backendApp">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
<link rel="stylesheet" href="ext/bootstrap/css/bootstrap.min.css"/>
</head>
<body ng-controller="backendController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Backend</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-repeat="view in pages" ng-class="{active : isView(view.viewName)}"><a ng-click="setView(view.viewName)" href>{{view.viewLabel}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <home-view ng-show="isView('homeView');"></home-view>
    <users-view ng-show="isView('usersView');"></users-view>
    <login-view ng-show="isView('loginView');"></login-view>
  </div>
  <script src="ext/angular/angular.js"></script>
  <script src="ext/jquery/jquery.min.js"></script>
  <script src="ext/bootstrap/js/bootstrap.min.js"></script>
  <script src="backend/backend.js"></script>
  <script src="backend/backendController.js"></script>
  <script src="backend/homeView/homeView.component.js"></script>
  <script src="backend/usersView/usersView.component.js"></script>
  <script src="backend/loginView/loginView.component.js"></script>
  <script src="backend/service/httpService.js"></script>
</html>
</body>
