<div data-role="header" data-position="fixed">
    <a href="#home" class="ui-btn ui-corner-all "><span class="genericon genericon-previous"></span></a> 
    <p class="headtitle">RAINBOW MATCH - REQUESTS</p>
</div>
<div data-role="main">
    <div data-role="tabs" id="tabs">
        <div data-role="navbar">
         <ul>
             <li><a href="#subrequests" data-ajax="false">Requests</a></li>
             <li><a href="#subaproved" data-ajax="false">Approved</a></li>
        </ul>
            </div>
        <div id="subrequests" class="ui-body-d ui-content">
            <div ng-repeat="p in $ctrl.requestedUsers">
                <img src="p.profilePicture" alt="Avatar"/>
                <p class="userlistname">{{p.userName}}</p>
                <input type="button" ng-click="p.accept()" data-inline="true" value="<3"/> 
                <input type="button" ng-click="p.delete()" data-inline="true" value="X"/> 
            </div>  
        </div>
        <div id="subaproved">
            <button ng-click="p.reqeuest()">
                <div ng-repeat="p in $ctrl.aptrovedUsers">
                    <img src="p.profilePicture" alt="Avatar"/>
                    <p class="userlistname">{{p.userName}}</p>
                </div>
            </button>    
        </div>
    </div>
</div>