<div data-role="header">
    <a href="#home" class="ui-btn ui-corner-all ">Back</a> 
    <p class="headtitle">rainbow match - requests</p>
</div>
<div data-role="main">
    <div data-role="tabs" id="tabs">
        <div data-role="navbar">
         <ul>
             <li><a href="#subrequests" data-ajax="false">Requests</a></li>
             <li><a href="#subaproved" data-ajax="false">Aproved</a></li>
        </ul>
            </div>
        <div id="subrequests" class="ui-body-d ui-content">
            <div ng-repeat="p in $ctrl.users">
                <img src="{{p}}" alt="Avatar"/>
                <p class="userlistname">{{p}}</p>
                <input type="button" data-inline="true" value="<3"/> 
                <input type="button" data-inline="true" value="X"/> 
            </div>  
        </div>
        <div id="subaproved">
            <a href="#aproved">
                <div ng-repeat="p in $ctrl.users">
                    <img src="{{p}}" alt="Avatar"/>
                    <p class="userlistname">{{p}}</p>
                </div>
            </a>    
        </div>
    </div>
</div>